.container {
	position: fixed;
	left: 0;
	width: 616px;
	height: 100%;
	overflow: hidden auto;
	transform: translate(-616px);
	transition: transform 0.5s ease;
}

.container_open {
	transform: translate(0);
}

.form {
	display: flex;
	flex-shrink: 0;
	flex-direction: column;
	gap: 20px;
	box-sizing: border-box;
	width: 616px;
	height: auto;
	min-height: 100%;
	padding: 50px 31px;
	color: #000000;
	background-color: #ffffff;
	border-right: 1px solid #000000;

	& > * {
		width: 554px;
	}

	& > *:first-child {
		margin-bottom: 30px;
	}
}

.bottomContainer {
	display: flex;
	justify-content: space-between;
	width: 554px;
	margin-top: auto;
}
